@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(../src/assets/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signup , .login ,.index{
  
  background-image: url(../src/assets/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.recipe{
  background-image: url(../src/assets/recipe_bg.jpg);
  /* transform: rotate(0deg); */
  /* background-repeat: no-repeat; */

  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  overflow-x: hidden; 
  
    position: fixed;
    z-index: -1;

}


